/* NavBar.module.css */

nav {
  background-color: #35424a; /* Galactic Blue */
  color: #ffffff; /* White */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLink {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff; /* White */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #ffd700; /* Gold */
}

.userWelcome {
  font-size: 18px;
  color: #ffffff; /* White */
}

.logoutLink {
  text-decoration: none;
  color: #ffffff; /* White */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.logoutLink:hover {
  color: #ffd700; /* Gold */
}
